<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZB(3D)CycleScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZB(3D)CycleScrollView_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34B474201DE2939300EB8D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34B474391DE2939300EB8D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34B474441DE2939300EB8D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F5F8B11DF1494F00440661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F5F8C41DF1495000440661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F5F8CF1DF1495000440661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
